.entry-component {
  width: 900px;
  // display: none;
  // display: initial;
  position: relative;
  // border: 1px solid red;
  box-shadow: 1px 1px 10px black;
  margin: 10px 0;
  padding: 10px;
}

.hidden {
  display: none;
}

#close-entry-component {
  position: absolute;
  top: -10px;
  right: 0;
  width: 3rem;
  height: 2rem;
}
