$sub-color: #282c34;
$main-color: lighten(#282c34, 80%);
$input-text-color: lighten($sub-color, 60%);

@mixin shrinkLabel {
  top: -16px;
  font-size: 12px;
  color: $main-color;
}

.form-input-container {
  position: relative;
  margin-top: 20px;

  .form-input {
    background: none;
    background-color: rgba(1, 1, 1, 0.651);
    color: $input-text-color;
    font-size: 18px;

    padding: 8px 8px 8px 8px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid $sub-color;
    margin: 0px 0;
  }

  .form-input-label {
    position: absolute;
    left: 5px;
    top: 10px;

    font-size: 16px;
    font-weight: normal;
    pointer-events: none;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
