.main-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  margin-top: 2rem;
  // justify-content: space-around;
  // border: 1px solid orange;
}

button {
  // background-color: blue;
  height: 2rem;
  width: 300px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
}

@media only screen and (min-width: 1850px) {
  .main-component {
    // border: 1px solid red;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
