.preview {
  width: 900px;
  background-color: white;
  color: black;
  // margin-top: 2rem;
  box-shadow: 1px 1px 10px black;
  position: relative;

  #preview-edit-button {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 10rem;
    // height: 300px;
    background-color: rgb(132, 215, 248);
    border-radius: 10px;
    font-size: larger;
    box-shadow: 1px 1px 10px black;
  }

  .personal-section {
    background-color: #154c79;
    color: rgb(249, 254, 255);

    .name-in-title {
      font-size: x-large;
      font-size: 42px;
      text-align: left;
      padding-left: 10px;
    }

    .title-and-email-and-phone {
      display: flex;
      justify-content: space-between;
      align-items: center;

      text-align: right;
    }

    .the-title {
      font-size: larger;
      text-align: left;
      padding-left: 10px;
    }

    .name-and-email p {
      text-align: right;
      padding-right: 10px;
    }
  }

  .bottom-section {
    margin: auto 10px;

    .section {
      margin-bottom: 20px;
      text-align: left;
      margin-top: 1rem;
    }

    hr {
      margin: 2px 0;
      border: 1px solid grey;
    }

    .experience-section {
      display: flex;

      .company-and-dates {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin-right: 20px;
      }

      .position-and-tasks {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
