.experience-info {
  display: flex;
  flex-direction: column;
}

.experience-info-label {
  font-size: x-large;
  display: flex;
  padding: 10px 10px 0 10px;
  border: 1px solid red;
}

button {
  margin-top: 10px;
}

.button-container {
}
