.preview {
  border: 1px solid red;
  width: 900px;

  .nameTitle {
    font-size: x-large;
  }

  .nameTitle {
    font-size: 42px;
    text-align: left;
    background-color: #154c79;
    padding-left: 10px;
  }
}
